.icons {
    color: white !important;
}

.icons:hover {
    color: black !important;
}

.link-item {
    list-style-type: none;
}

.link-item a {
    text-decoration: none;
    font-size: calc(17px + .5vw);
    color: white;
    cursor: pointer;
}

.active-link {
    text-shadow: black 3px 3px 5px;
}

.inactive-link {
    text-shadow: none;
}