.icons {
    color: white !important;
}

.icons:hover {
    color: black !important;
}

.link-item {
    list-style-type: none;
}

.link-item a {
    text-decoration: none;
    font-size: calc(17px + .5vw);
    color: white;
    cursor: pointer;
}

.active-link {
    text-shadow: black 3px 3px 5px;
}

.inactive-link {
    text-shadow: none;
}

.inactive-link:hover {
    color: black;
}

/* Some of the styles needed to be written here to avoid conflicts on transitions */
.overlay {
    opacity: 0;
    transition: opacity 0.25s;
}

.overlay > * {
    transform: translateY(25px);
    transition: transform 0.25s;
}

.overlay:hover {
    opacity: 1;
}

.overlay:hover > * {
    transform: translateY(0);
}

.projectLink {
    font-size: calc(16px + .7vw);
    color: white;
    text-decoration: none;
}

.projectLink:hover {
    color: rgb(30, 114, 122);
}

.projectIcon {
    color: white;
    text-decoration: none;
}

.projectIcon:hover {
    transition: color 0.10s;
    color: rgb(30, 114, 122);
}

.resumeDownload {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 10px;
}

.resumeDownload:hover {
    color:  rgb(50, 220, 235);
}